body {
	margin :0px;
	padding:0px;
	color: #eeeeee;
	overflow: hidden;
  position: relative;
	background-image: url("/Manic/images/BLANK.png");
}

#menuB{
	background-color: black;
	transform: rotate(270deg);
	color: white;
	height: 50px;
	width: 80px;
	margin: 2%;
	border: 0px;
}
.page{
	position: absolute;
	width : 100vw;
	height: 100vh;
}

#background{
	transition:1s;
	position: absolute;
	z-index:-90;
	top:0%;
	left:0%;
	width: 100%;
	transform:translateX(0px);
}
#transit, #transits{
	transition:1s;
	position: absolute;
	z-index:0;
	top:0%;
	left:0%;
	width: 100%;
	transform:translateX(-100%);
}
#transits{
	transform:translateX(100%);
}
#menu{
	left:0%;
	top:0%;
}
#aboutB{
	position: absolute;
	z-index:-80;
	top:50%;
	left:30%;
	width: 20%;
	height: 25%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}
#merchB{
	position: absolute;
	z-index:-80;
	top:65%;
	left:68%;
	width: 23%;
	height: 25%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}
#projectsB{
	position: absolute;
	z-index:-80;
	top:35%;
	left: 55%;
	width: 28%;
	height: 20%;
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: rgba(0,0,0,0);
}
main{
}
/*
#4c5760
#ffd046
#eeeee
*/
html.to-menu.is-animating #background, html.to-left.is-leaving #background{
	transform:translateX(100%);
}
html.to-menu.is-leaving #background, html.to-left.is-animating #background{
	transform:translateX(-100%);
}


html.to-menu.is-animating #transit, html.to-menu.is-leaving #transit, html.to-left.is-animating #transit, html.to-left.is-leaving #transit{
	transform:translateX(0%);
}
html.to-menu.is-animating #transits, html.to-menu.is-leaving #transits, html.to-left.is-animating #transits, html.to-left.is-leaving #transits{
	transform:translateX(0%);
}


.transition-pan{
	transition:2s;
	animation-timing-function: linear;
	transform: translateX(0);
	opacity:1;
}
html.is-animating .transition-pan{

}
